
<!--************ Resend-ID-screen ******************-->
<section class="w-full h-full content-flex-center resend-id-screen">
    <div class="prnt-content">
        <div class="p-42 shadow-black border-round-16">
            <p class="mb-28 content-flex">
                <figure><img src="../../../../assets/images/supersourcing-logo.svg" alt=""></figure>
                <p-button label="Back" class="back-btn" [outlined]="true" routerLink="/auth/login"></p-button>
            </p>
            <p class="fs-18 fw-500 line-h-24 mb-28 pb-14 border border-bottom-gray text-black"> Resend ID </p>
            <p class="fs-20 fw-600 line-h-24 mb-24"> Get your Exam ID on Email </p>
            <form [formGroup]="resendIdForm" (ngSubmit)="onSubmit()">
                <div class="mt-28">
                    <label class="fs-14 fw-500 line-h-20 text-deep-twilight">Email ID*</label>  
                    <input type="text" pInputText placeholder="Enter your Email ID" class="w-full email-input mt-8 mb-16" formControlName="email"  [ngClass]="{'dirty invalid focusNone': emailIdInvalid == true || resendIdForm.get('email')?.invalid && (resendIdForm.get('email')?.touched || resendIdForm.get('email')?.dirty)}" />
                    <!-- <p *ngIf="resendIdForm.get('email')?.invalid && (resendIdForm.get('email')?.touched || resendIdForm.get('email')?.dirty)" class="text-center text-cherry-red fs-14 fw-400 line-h-20 mb-16">
                        Please enter a valid email ID.
                    </p> -->
                    <!-- <p *ngIf="resendIdForm.get('email')?.invalid && (resendIdForm.get('email')?.touched || resendIdForm.get('email')?.dirty)" 
                            class="text-center text-cherry-red fs-14 fw-400 line-h-20 mb-16" 
                            [ngClass]="{'dirty invalid focusNone': emailIdInvalid == true}">
                            
                            <span *ngIf="resendIdForm.get('email')?.errors?.['required']">
                                Email ID is required.
                            </span>
                          
                            <span *ngIf="resendIdForm.get('email')?.errors?.['pattern']">
                                Please enter a valid email ID.
                            </span>
                        </p>
                    <p *ngIf="emailIdInvalid" class="text-center text-cherry-red fs-14 fw-400 line-h-20 mb-16">It seems like there is no test linked to this email ID</p> -->
                    <p *ngIf="resendIdForm.get('email')?.invalid && (resendIdForm.get('email')?.touched || resendIdForm.get('email')?.dirty) && !emailIdInvalid" 
                    class="text-center text-cherry-red fs-14 fw-400 line-h-20 mb-16">
                    
                     <!-- Check for specific validation errors -->
                     <span *ngIf="resendIdForm.get('email')?.errors?.['required'] || resendIdForm.get('email')?.touched ">
                         Email ID is required.
                     </span>                        
                     <span *ngIf="resendIdForm.get('email')?.errors?.['pattern'] || resendIdForm.get('email')?.errors?.['email']">
                        Please enter a valid email ID.
                     </span>
                 </p>
         
                 <p *ngIf="emailIdInvalid" class="text-center text-cherry-red fs-14 fw-400 line-h-20 mb-16">
                     It seems like there is no test linked to this email ID.
                 </p>
                    <p-button type="submit" label="Check & Send" [disabled]="!resendIdForm.value.email" class="check-send-btn mt-16"></p-button>
                </div>
            </form>
        </div>
        <div class="mt-20 content-flex-center fs-12 fw-500 line-h-20 text-dusk-gray">
            <p>By continuing, you agree to Supersourcing's <a href="https://supersourcing.com/privacy-policy.html" 
                class="text-electric-blue" 
                target="_blank" 
                rel="noopener noreferrer" class="text-electric-blue">Terms of Service and Privacy Policy.</a></p>
        </div>
    </div>
</section>
