<header class="bg-white py-20 px-50 sticky top-0 border-bottom-foggy-charcoal z-5">
    <div class="content-flex">
        <img class="ss-logo cursor-pointer" src="assets/images/supersourcing-logo.svg" alt="supersourcing" />
        <div>
            <p class="flex justify-end fw-400 fs-20 line-h-20 text-black">AI Interviewer </p>
            <p class="flex justify-end align-center fw-400 fs-14 line-h-20 text-black">
                <span>Role</span> 
                <span> : {{this.role_name}}</span>
            </p>
        </div>
    </div>
</header>