<!--************ faq-screen ******************-->
<section class="w-full h-full content-flex-center faq-screen">
    <div class="prnt-content">
     <div class="px-42 py-38 shadow-black border-round-16">
         <p class="mb-28 content-flex">
             <figure><img src="../../../../assets/images/supersourcing-logo.svg" alt=""></figure>
             <p-button label="Back" class="back-btn" [outlined]="true" routerLink="/auth/login"></p-button>
         </p>
         <p class="fs-18 fw-500 line-h-24 mb-28 pb-14 border border-bottom-gray text-black"> FAQs </p>
         <p class="fs-20 fw-600 line-h-24 mb-24"> Find answers to all your queries related AI Interviewer </p>
         <div>
             <p-accordion [multiple]="true" [activeIndex]="[0]" class="faq-accordion">
               <p-accordionTab header="How is Supersourcing different from other hiring platforms?">
                 <div class="p-16">
                    <p class="mb-4 fs-14 fw-400 line-h-20"> With Supersourcing, clients can hire software <span class="block">developers with ease.</span></p>
                     <ul class="ps-20 fs-14 fw-400 line-h-20">
                         <li class="mb-4">  Top vetted profiles available within a week </li>
                         <li class="mb-4"> 99% guaranteed remote joining </li>
                         <li class="mb-4"> Best post-hiring services </li>
                         <li class=""> 2-weeks trial period </li>
                     </ul>
               </div>
              </p-accordionTab>
              <p-accordionTab header="How is Supersourcing different from other hiring platforms?">
                 <div class="p-16">
                    <p class="mb-4 fs-14 fw-400 line-h-20"> With Supersourcing, clients can hire software <span class="block">developers with ease.</span></p>
                     <ul class="ps-20 fs-14 fw-400 line-h-20">
                         <li class="mb-4">  Top vetted profiles available within a week </li>
                         <li class="mb-4"> 99% guaranteed remote joining </li>
                         <li class="mb-4"> Best post-hiring services </li>
                         <li class=""> 2-weeks trial period </li>
                     </ul>
               </div>
              </p-accordionTab>
             </p-accordion>
         </div>
        </div>
        <div class="mt-20 content-flex-center fs-12 fw-500 line-h-20 text-dusk-gray">
            <p>By continuing, you agree to Supersourcing's <a href="https://supersourcing.com/privacy-policy.html" 
                class="text-electric-blue" 
                target="_blank" 
                rel="noopener noreferrer" class="text-electric-blue" >Terms of Service and Privacy Policy.</a></p>
         </div>
     </div>
 </section>